/* You can add global styles to this file, and also import other style files */


@font-face { 
	font-family: 'OleoScript';
	src: url("assets/fonts/OleoScript-Bold.ttf"); 
}

html,
body {
	height: 100%;
  margin: 0px;
  padding: 0px;
}
